/*
Zachariah King
Mod6_2_css
4/13/25
*/

/* Header Styles */
header {
  background-color: #4a90e2; /* Blue tone to match landing page */
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 400;
}

/* Navbar Styles */
#navbar {
  overflow: hidden;
  background-color: #333;
  border-bottom: 15px solid #4a90e2;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #575757;
  color: #ffcc00; /* Example hover color */
}

/* Container Styles */
#container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

/* Card Styles */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
  font-size: 2em;
  color: #2c3e50;
  font-weight: 400;
}

.card-content {
  padding: 2px 16px;
}

/* Footer Styles */
footer {
  background-color: #4a90e2; /* Same as header */
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

footer p {
  color: white;
  font-weight: 400;
  float: right;
  padding-right: 10px;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

footer a:hover {
  text-decoration: underline;
}